
<div class="cards">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="image-card flip-card-front" style="background-image:url(<%= asset_path 'agliberto.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;">
          <div class="image-card-info-left">
            <%# <h2 style="font-family: Comfortaa">AGLIBERTO</h2>
            <h2>RIBEIRO</h2>
            <p>Especialista em pesquisas</p> %>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <p class="text-left">Apaixonado por dados e informações, nosso Sócio-Diretor Agliberto Ribeiro agrega toda a sua experiência em pesquisas de mercado e política na construção das melhores estratégias para nossos clientes.</p>
        <div class="image-card-info-left">
            <h2 style="font-family: Comfortaa">AGLIBERTO</h2>
            <h2>RIBEIRO</h2>
            <p>Especialista em pesquisas</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="image-card flip-card-front" style="background-image: url(<%= asset_path 'gabriel.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;">
          <div class="image-card-info-center">
            <%# <h2 style="font-family: Comfortaa">GABRIEL</h2>
            <h2>CAMPELO</h2>
            <p>Publicitário</p> %>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <p class="text-center">Com vasta experiência no mercado publicitário, já atuou como executivo da TV Verdes Mares e atendeu contas como Prefeitura de Fortaleza, Prefeitura de Maracanaú, Rabelo, Indaiá, Iguatemi, Center Box, Colégio Farias Brito, entre outras. Passou por agências de publicidade como Advance, Acesso Comunicação, 333 Propaganda e agora integra o time de diretores da Metanoia.</p>
        <div class="image-card-info-center">
            <h2 style="font-family: Comfortaa">GABRIEL</h2>
            <h2>CAMPELO</h2>
            <p>Publicitário</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="image-card flip-card-front" style="background-image: url(<%= asset_path 'leo.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;">
          <div class="image-card-info-right">
            <%# <h2 style="font-family: Comfortaa">LEONARDO</h2>
            <h2>BAYMA</h2>
            <p>Estrategista político</p> %>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <p class="text-right">Um estrategista político de mão cheia, Leo Bayma possui vasta experiência em coordenação, planejamento e estratégia de mandatos políticos, campanhas eleitorais e gestão institucional, já tendo atendido clientes em diversos estados brasileiros. Pioneiro na internet na área de estratégia eleitoral com o treinamento "Estrategista Eleitoral" lançado em 2015, participa como analista político convidado em programas da TV União e da TV Otimista.</p>
        <div class="image-card-info-right">
            <h2 style="font-family: Comfortaa">LEONARDO</h2>
            <h2>BAYMA</h2>
            <p>Estrategista político</p>
        </div>
      </div>
    </div>
  </div>
</div>
