
<div class="cards">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="image-card flip-card-front" style="background-image:url(<%= asset_path 'agliberto.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;">
          <div class="image-card-info-left">
            <%# <h2 style="font-family: Comfortaa">AGLIBERTO</h2>
            <h2>RIBEIRO</h2>
            <p>Especialista em pesquisas</p> %>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <p class="text-left">CEO e Founder do Instituto Ampla Pesquisa, nosso Sócio-Diretor Agliberto Ribeiro é apaixonado por dados e informações. Na Metanoia, agrega toda a sua experiência em pesquisas de mercado e política na construção das melhores estratégias para nossos clientes.</p>
        <div class="image-card-info-left">
            <h2 style="font-family: Comfortaa">AGLIBERTO</h2>
            <h2>RIBEIRO</h2>
            <p>Especialista em pesquisas</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="image-card flip-card-front" style="background-image: url(<%= asset_path 'gabriel.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;">
          <div class="image-card-info-center">
            <%# <h2 style="font-family: Comfortaa">GABRIEL</h2>
            <h2>CAMPELO</h2>
            <p>Publicitário</p> %>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <p class="text-center">Com vasta experiência no mercado publicitário, Gabriel Campelo já atuou como executivo da TV Verdes Mares e atendeu diversas contas do segmento público e privado. Passou por algumas das principais agências de publicidade de Fortaleza e agora integra o time de diretores da Metanoia.</p>
        <div class="image-card-info-center">
            <h2 style="font-family: Comfortaa">GABRIEL</h2>
            <h2>CAMPELO</h2>
            <p>Publicitário</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="image-card flip-card-front" style="background-image: url(<%= asset_path 'leo.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;">
          <div class="image-card-info-right">
            <%# <h2 style="font-family: Comfortaa">LEONARDO</h2>
            <h2>BAYMA</h2>
            <p>Estrategista político</p> %>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <p class="text-right">Um estrategista político de mão cheia, Leonardo Bayma é doutorando em Ciência Política e possui vasta experiência em coordenação, planejamento e estratégia de mandatos políticos, campanhas eleitorais e gestão institucional. Pioneiro na internet na área de estratégia eleitoral com o treinamento "Estrategista Eleitoral", já atendeu clientes em diversos estados brasileiros.</p>
        <div class="image-card-info-right">
            <h2 style="font-family: Comfortaa">LEONARDO</h2>
            <h2>BAYMA</h2>
            <p>Estrategista político</p>
        </div>
      </div>
    </div>
  </div>
</div>
