<div style="height: 450px; display:flex; align-items: flex-end; justify-content: space-evenly;">
    <div class="tabs-underlined">
        <div class="tab-underlined">
            <p>COPY DE DESTAQUE <br> EM DUAS LINHAS</p>
        </div>
        <div class="tab-underlined">
            <p>COPY DE DESTAQUE <br> EM DUAS LINHAS</p>
        </div>
        <div class="tab-underlined">
            <p>COPY DE DESTAQUE <br> EM DUAS LINHAS</p>
        </div>
            <div class="tab-underlined">
            <p>COPY DE DESTAQUE <br> EM DUAS LINHAS</p>
        </div>
    </div>
</div>