<ul class="navbar">
    <li><a class="nopointer" href="#"><%= image_tag "cubo_topo.png"%></a></li>
    <li><a href="#home">METANOIA</a></li>
    <li><a href="#agencia">AGÊNCIA</a></li>
    <li><a href="#solucoes">SOLUÇÕES</a></li>
    <li><a href="#portfolio">PORTFÓLIO</a></li>
    <li><a class="nopointer" href="#">&nbsp;</a></li>
    <%# <li><a class="nopointer" href="#">&nbsp;</a></li> %>
    <li><a class="lesspadding" href="https://www.instagram.com/metanoiaestrategia/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a class="lesspadding" href="https://www.facebook.com/metanoiaestrategia/" target="_blank"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://open.spotify.com/show/4ffUwZVaoXfVZObce0HQQl" target="_blank"><i class="fab fa-spotify"></i></a></li>
    <li><a class="btn-navbar"  id="btn-navbar2" href="#contato">VAMOS CONVERSAR</a></li>
</ul>
