<ul class="navbar">
    <li><a class="nopointer" href="#"><%= image_tag "cubo_topo.png"%></a></li>
    <li><a href="#home">METANOIA</a></li>
    <li><a href="#news">AGÊNCIA</a></li>
    <li><a href="#contact">SOLUÇÕES</a></li>
    <li><a href="#about">PORTFÓLIO</a></li>
    <li><a class="nopointer" href="#">&nbsp;</a></li>
    <%# <li><a class="nopointer" href="#">&nbsp;</a></li> %>
    <li><a class="lesspadding" href="#"><i class="fab fa-instagram"></i></a></li>
    <li><a class="lesspadding" href="#"><i class="fab fa-facebook"></i></a></li>
    <li><a href="#"><i class="fab fa-spotify"></i></a></li>
    <li><a class="btn-navbar"  id="btn-navbar2" href="#">VAMOS CONVERSAR</a></li>
</ul>
