<div class="solucoes-wrapper">
    <div style="height:147px;width:147px;background-image: url(<%= asset_path 'xadrez_amarelo.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;"></div>
    <div style="height:315px;width:315px;"><p class="text-solucoes">Nosso objetivo é, a partir da compreensão da realidade do cliente e dos seus objetivos, customizar soluções em comunicação para empresas, instituições, entes públicos e personalidades que atuam em mercados diversos ou na política. <br> <br> Tratar cada cliente como único, a partir da sua realidade e dos seus objetivos, é o grande diferencial em que acreditamos.</p></div>
    <div style="height:315px;width:315px;background-image: url(<%= asset_path 'xadrez_preto.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;"></div>
</div>
