<div class="solucoes-wrapper">
    <div style="height:147px;width:147px;background-image: url(<%= asset_path 'xadrez_amarelo.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;"></div>
    <div style="height:315px;width:315px;"><p class="text-solucoes">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br> <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
    <div style="height:315px;width:315px;background-image: url(<%= asset_path 'xadrez_preto.png' %>);background-repeat: no-repeat; background-size: auto; background-position: center;"></div>
</div>
