<div class="solucoes-header-wrapper">
    <div class="solucoes-header"><h1>COMUNICAÇÂO <br> ESTRATÉGICA</h1></div>
    <div class="solucoes-header-symbol"></div>
    <div class="solucoes-header"><h1><span>SOLUÇÕES <br> PERSONALIZADAS</span></h1></div>
</div>