<div class="background">
  <div class="container">
    <%= render 'navbar' %>
    <%= render 'midbar' %>
    <%= render 'cards' %>
  </div>
</div>
<div style="height:10px; background: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.4)); width:150%; top: 605px; position: absolute;"></div>
<div style="height:10px; background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.7)); width:150%; top: 615px; position: absolute;"></div>
<div style="height:10px; background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,1)); width:150%; top: 625px; position: absolute;"></div>

