<div class="background">
  <div class="container">
    <%= render 'navbar' %>
    <%= render 'midbar' %>
    <%= render 'cards' %>
  </div>
</div>
<!-- Was the div below added on purpose? -->
<!-- <div style="height:30px; opacity: 0.8; width:150%; top: 600px; position: absolute;"></div>
 -->
