<div style="height: 570px; background-size: cover; background-position: center bottom; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(<%= asset_path 'chess.png' %>)">
  <div class="container">
    <%= render 'navbar' %>
    <%= render 'midbar' %>
    <%= render 'cards' %>
  </div>
</div>
