<div class="container">
<div style="height: 530px; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(<%= asset_path 'chess.png' %>)">
<%= render 'navbar' %>
</div>



</div>


