.cards {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 45px;
  margin: 48px 0;
  // align-items: flex-start;
  // justify-content: space-between;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.image-card {
  background-size: cover;
  background-position: center;
  height: 384px;
  width: 299px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: $my-font2;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  position: relative;
}

.image-card-info-left {
  position: absolute;
  bottom: 0px;
  right: 32px;
  text-align: left;
  h2 {
    font-family: $my-font;
    font-weight: lighter;
    letter-spacing: 0.18em;
    font-size: 18px;
    line-height: 0.6em;
  }
  p {
    font-size: 15px;
  }
}

.image-card-info-center {
  position: absolute;
  bottom: 0px;
  left: 64px;
  right: 64px;
  text-align: center;
  h2 {
    font-family: $my-font;
    font-weight: lighter;
    letter-spacing: 0.18em;
    font-size: 18px;
    line-height: 0.6em;
  }
  p {
    font-size: 15px;
  }
}

.image-card-info-right {
  position: absolute;
  bottom: 0px;
  left: 32px;
  text-align: right;
  h2 {
    font-family: $my-font;
    font-weight: lighter;
    letter-spacing: 0.18em;
    font-size: 18px;
    line-height: 0.6em;
  }
  p {
    font-size: 15px;
  }
}

// FLIP CARD

.flip-card {
  perspective: 1000px;
  height: 384px;
  width: 299px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: $yellow;
  color: black;
  transform: rotateY(180deg);
  p {
    line-height: 1.2em;
    font-weight: lighter;
  }
  .image-card-info-left p {
    padding: 0;
    text-align: left;
  }
}

.flip-card-back .text-left {
  padding: 32px 64px 0 32px;
  font-size: 14.5px;
}

.flip-card-back .text-center {
  padding: 32px 48px 0 48px;
  font-size: 14.5px;
}

.flip-card-back .text-right {
  padding: 32px 32px 0 48px;
  font-size: 14.5px;
}

.cards-header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-family: $my-font; 
    font-size: 28pt; 
    color: white;
  }
}