.contact-form {
  color: white;
  input, textarea {
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px 24px;
  }

}

input.form-btn {
  background-color: white;
  border-radius: 35px;
  height: 100px;
  width: 100px;
}
