.tabs-underlined {
    display: flex;
    align-items:stretch;
    text-decoration: none;
    justify-content: space-between;
    padding-bottom: 0px;
    // margin-bottom: auto;
    border-bottom: 2px solid white;
    // vertical-align: bottom;
    // position: absolute;
    // bottom: 10px;
    width: 100%;
}
  
.tabs-underlined .tab-underlined {
    color: white;
    // padding: 8px;
    // padding-bottom: 2px;
    // margin: 0;
    // margin-bottom: auto;
    // margin-top: auto;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    // display: inline-block;
    border-bottom: 4px solid transparent;
    p {
        font-size: 16pt;
        font-family: $my-font2;
    }
}
  
.tabs-underlined .tab-underlined:hover {
    border-bottom: 4px solid $yellow;
    text-decoration: none;
}

.background {
    height: 600px; 
    background-size: cover; 
    background-position: center bottom; 
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), asset-url('chess.png');
}