// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

ul {
  list-style-type: none;
  // margin: 0;
  margin: 35px;
  padding: 0;
  // border-bottom: 2px solid $white;
}

li {
  display: inline;
}

li a {
  color:$white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14pt;
  font-family: $my-font;
}

.nopointer {
  cursor: default;
}

li a:hover:not(.active) {
  color: $yellow;
  text-decoration: none;
}

li a.active {
  color: $yellow;
  text-decoration: none;
}

.btn-navbar {
  font-size: 10pt;
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.lesspadding  {
  padding-right: 2px;
}