.navbar {
  list-style-type: none;
  margin: 35px;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar li a {
  color:$white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14pt;
  font-family: $my-font;
}

.nopointer {
  cursor: default;
  margin-bottom: 15px;
}

.navbar li a:hover:not(.active) {
  color: $yellow;
  text-decoration: none;
}

.navbar li a.active {
  color: $yellow;
  text-decoration: none;
}

.navbar .btn-navbar {
  font-size: 10pt;
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  font-family: $my-font2;
}

.navbar .lesspadding  {
  padding-right: 2px;
}
